
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wdth,wght@85,331&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    padding: 0;
    margin:0;
    font-family: 'Roboto'; 
    /* padding: 16px  100px;   */
}
.body {
    /* margin:0px;
    padding:0px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 16px  100px; */
    /* padding: 16px; */


}
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    /* font-family: 'Roboto'; */
    font-size: 18px;
    color:#e5e7eb;
    padding: 16px  150px;

}
/* added header in order to prevent intervention with other possible links and lists in the page */
/* any descendant not necessarily direct child */
.header ul{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 16px;
    align-items: center;
    gap:16px;

}

.header a {
    text-decoration-line: none;
    /* font-size: 18px; */
    color:#e5e7eb;
}

/* dierct child */
.header > div {
    /* font-family: 'Roboto'; */
    font-weight: 900;
    font-size: 24px;
    color: f9faf8;
}

.black {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* font-family: 'Roboto'; */
    background-color: #1f2937;
    color: #f9faf9;
    /* flex-direction: column; */
    gap:50px;
    height: 500px;
    padding: 16px  150px;
}
.black > div {
    /* max-width:50vh; */
    max-width: 500px;
}

.black p {
    text-align: justify;
    padding: 16px 0px;
}

img {
    max-width: 500px;
    height: auto;
}

.black h1 {
    font-size: 36px;
    font-weight: 900;
    
    
}

button {
    /* width: 100;
    height: 50; */
   
    background-color:#3882F6;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    /* text-decoration: none;
    display: inline-block; */
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    font-family: inherit;
    border-color: #3882F6;
    /* border: 5px; */

  }


  .info {

    padding: 16px  150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap:30px;



  }
  .title{
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    
  }

  .books {
    display: flex;
    justify-content: center;
    gap:16px;
    

  }

  .book {
    width: 150px;
    text-align: center;
    /* gap: 1px; */
  }
  .text {
    padding-top: 16px;
    /* text-align: center; */
  }

  .gray {
    padding: 16px  200px;
    background-color: #e5e7eb;
    font-size: 30px;
    /* font-weight:100; */
    font-style: italic;
    text-align: left;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }
.author {
    font-weight: bold;
    font-size: 30px;
    margin-left: auto;
    font-style: normal;
}
  
.white {
  height:300px;
  padding: 16px  200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #e5e7eb;
  /* font-family: inherit; */
  
}
.blue {
  padding: 16px 32px;
  background-color: #3882F6;
  height: 100px;
  width: 900px;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;

}
.bold div{
  font-weight: bold;

}

.blue button{
  border-color: #e5e7eb;
}

.footer {
  height:70px;
  background-color: #1f2937;
  color: #f9faf9;
  display: flex;
  justify-content: center;
  align-items: center;

}